In [105]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

In [106]:
%matplotlib inline
sns.set_style('whitegrid')

In [107]:
data=pd.read_csv("problem_1/train.csv")

In [108]:
data.describe()

,Age,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
count,466.000000,466.000000,466.000000,466.000000,466.000000,466.000000,466.000000,466.000000,463.000000,466.000000
mean,45.321888,3.406438,1.503004,294.877682,82.633047,114.982833,6.491845,3.149356,0.954104,1.285408
std,15.697936,6.510448,2.823700,252.718859,192.801900,312.869109,1.096455,0.805285,0.333646,0.452094
min,4.000000,0.400000,0.100000,63.000000,10.000000,10.000000,2.700000,0.900000,0.300000,1.000000
25%,33.000000,0.800000,0.200000,176.000000,23.000000,25.000000,5.800000,2.600000,0.700000,1.000000
50%,46.000000,1.000000,0.300000,210.000000,36.000000,42.000000,6.600000,3.100000,0.960000,1.000000
75%,58.000000,2.575000,1.300000,298.000000,60.000000,88.000000,7.200000,3.800000,1.100000,2.000000
max,85.000000,75.000000,19.700000,2110.000000,2000.000000,4929.000000,9.600000,5.500000,2.800000,2.000000

# check null values in data

In [109]:
data.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    3
Dataset                       0
dtype: int64

# filling null values with mean values

In [110]:
data.fillna(data.mean(), inplace=True)

In [111]:
data.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    0
Dataset                       0
dtype: int64

# analysing data by dataset 1 and dataset 2

In [112]:
pd.set_option('display.max_rows',500)

In [113]:
data.groupby('Dataset').describe().transpose()

Dataset                                     1            2
Age                        count   333.000000   133.000000
                           mean     46.675676    41.932331
                           std      15.117310    16.646137
                           min       8.000000     4.000000
                           25%      34.000000    28.000000
                           50%      47.000000    41.000000
                           75%      58.000000    56.000000
                           max      78.000000    85.000000
Total_Bilirubin            count   333.000000   133.000000
                           mean      4.298198     1.173684
                           std       7.495798     0.982953
                           min       0.400000     0.500000
                           25%       0.800000     0.700000
                           50%       1.300000     0.900000
                           75%       3.800000     1.200000
                           max      75.000000     7.300000
Direct_Bilirubin           count   333.000000   133.000000
                           mean      1.937237     0.415789
                           std       3.224996     0.511806
                           min       0.100000     0.100000
                           25%       0.200000     0.200000
                           50%       0.500000     0.200000
                           75%       1.900000     0.400000
                           max      19.700000     3.600000
Alkaline_Phosphotase       count   333.000000   133.000000
                           mean    324.741742   220.105263
                           std     279.079532   145.631918
                           min      63.000000   100.000000
                           25%     185.000000   162.000000
                           50%     230.000000   188.000000
                           75%     331.000000   215.000000
                           max    2110.000000  1580.000000
Alamine_Aminotransferase   count   333.000000   133.000000
                           mean    101.735736    34.804511
                           std     224.718906    26.678915
                           min      12.000000    10.000000
                           25%      25.000000    20.000000
                           50%      41.000000    28.000000
                           75%      76.000000    40.000000
                           max    2000.000000   181.000000
Aspartate_Aminotransferase count   333.000000   133.000000
                           mean    144.219219    41.781955
                           std     365.420170    37.699035
                           min      11.000000    10.000000
                           25%      29.000000    22.000000
                           50%      52.000000    29.000000
                           75%     114.000000    45.000000
                           max    4929.000000   285.000000
Total_Protiens             count   333.000000   133.000000
                           mean      6.457958     6.576692
                           std       1.111321     1.057648
                           min       2.700000     3.700000
                           25%       5.700000     5.900000
                           50%       6.500000     6.700000
                           75%       7.200000     7.300000
                           max       9.600000     8.500000
Albumin                    count   333.000000   133.000000
                           mean      3.056757     3.381203
                           std       0.799053     0.776370
                           min       0.900000     1.400000
                           25%       2.500000     2.900000
                           50%       3.000000     3.500000
                           75%       3.600000     4.000000
                           max       5.500000     5.000000
Albumin_and_Globulin_Ratio count   333.000000   133.000000
                           mean      0.918103     1.044241
                           std       0.341405     0.291551
                           min       0.300000     0.370000
                           25%       0.700000     0.900000
                           50%       0.900000     1.000000
                           75%       1.100000     1.200000
                           max       2.800000     1.900000

# as the difference between the mean values of  Alkaline_Phosphotase ,Alamine_Aminotransferase ,Aspartate_Aminotransferase is big between in dataset1 and dataset2 so a new column of addition of these 3 columns

In [114]:
data['sum3']=data.Alkaline_Phosphotase+data.Alamine_Aminotransferase+data.Aspartate_Aminotransferase

# Applying DecisionTreeClassifier

In [140]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [147]:
X=data[['Alkaline_Phosphotase','Alamine_Aminotransferase','Aspartate_Aminotransferase','sum3','Direct_Bilirubin']]
y=data['Dataset']
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=1)

In [148]:
clf = DecisionTreeClassifier(random_state=1)

clf.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=1, splitter='best')

In [119]:
y_pred=clf.predict(X_test)

In [120]:
x= y_test==y_pred

In [121]:
x.value_counts()/len(x)

True     0.632479
False    0.367521
Name: Dataset, dtype: float64

# Applying RandomForestClassifier

In [122]:
from sklearn.ensemble import RandomForestClassifier

In [123]:
clf = RandomForestClassifier(n_estimators=100, max_depth=2, random_state=0)

In [124]:
clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=2, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [125]:
y_pred=clf.predict(X_test)

In [126]:
x= y_test==y_pred

In [127]:
x.value_counts()/len(x)

True     0.74359
False    0.25641
Name: Dataset, dtype: float64

# Scaling the data

In [152]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

# Applying GradientBoostingClassifier

In [129]:
from sklearn import model_selection
from sklearn.ensemble import GradientBoostingClassifier

In [130]:
seed = 2
num_trees = 100
kfold = model_selection.KFold(n_splits=10, random_state=seed)
model = GradientBoostingClassifier(n_estimators=num_trees, random_state=seed)
results = model_selection.cross_val_score(model, X, y, cv=kfold)
print(results.mean())

0.6913506012950971

# Applying LogisticRegression

In [164]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression(C=0.0001,max_iter=100000,solver='saga',warm_start=True,penalty='l2',random_state=1)

In [165]:
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
x= y_test==y_pred
x.value_counts()/len(x)

True     0.769231
False    0.230769
Name: Dataset, dtype: float64

In [131]:
clf = RandomForestClassifier(n_estimators=100, max_depth=2, random_state=0)
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
x= y_test==y_pred
x.value_counts()/len(x)

True     0.74359
False    0.25641
Name: Dataset, dtype: float64

# Applying Bagging and  DecisionTreeClassifier

In [93]:
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

In [167]:
seed = 5
kfold = model_selection.KFold(n_splits=10, random_state=seed)
cart = DecisionTreeClassifier()
num_trees = 100
model = BaggingClassifier(base_estimator=cart, n_estimators=num_trees, random_state=seed)
results = model_selection.cross_val_score(model, X, y, cv=kfold)
print(results.mean())

0.706290471785384

# accuracy with LogisticRegression is best so now train whole data and test on test file

In [168]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression(C=0.0001,max_iter=100000,solver='saga',warm_start=True,penalty='l2',random_state=1)
clf.fit(X,y)

LogisticRegression(C=0.0001, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100000,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=1, solver='saga', tol=0.0001, verbose=0,
                   warm_start=True)