In [232]:
import pandas as pd
import numpy as np

In [233]:
from sklearn import metrics

In [234]:
data=pd.read_csv("problem_2/problem_2_train.csv")

In [235]:
pd.set_option('display.max_columns',500)

# what type of  data is

In [237]:
data.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days
0,2851218,AN,7,500004,233,233,131,A,ADLD,500001,2017-04-27,2016-12-02,2018-02-08,4403,2018-02-13,5
1,2838330,AJ,10,226010,233,233,131,A,ADLD,226022,2017-03-06,2017-03-05,2018-02-04,4444,2018-02-08,12
2,2835781,AJ,2,110018,233,233,228,A,ADLD,110018,2018-02-01,2018-01-27,2018-02-03,4388,2018-02-12,9
3,2838589,AM,2,110018,233,233,228,B,ADLD,124001,2018-01-17,2018-01-31,2018-02-04,4092,2018-02-14,9
4,2855214,AN,21,110015,233,233,131,A,ADLD,201301,2018-01-23,2018-01-20,2018-02-09,4580,2018-02-14,8

In [177]:
data.columns

Index(['srno', 'mobmake', 'hubid', 'hubpincode', 'pickuppartnerid',
       'deliverypartnerid', 'insuranceCompanyId', 'custpincodecategory',
       'claimtype', 'custpincode', 'memcreateddate', 'mobilepurchasedate',
       'claimintdate', 'servicecntrid', 'pickupStartdate', 'tat_in_days'],
      dtype='object')

# Data analysing

In [238]:
data.describe()

,srno,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincode,servicecntrid,tat_in_days
count,6.250000e+03,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000
mean,2.946134e+06,11.732000,340546.139840,232.654400,231.495360,155.040480,366009.473440,4457.158080,12.730400
std,7.733480e+04,9.141463,213449.097822,30.471658,22.521945,41.883918,210990.167946,200.945634,5.075533
min,2.818359e+06,0.000000,0.000000,0.000000,0.000000,131.000000,0.000000,4008.000000,2.000000
25%,2.877226e+06,3.000000,110018.000000,233.000000,233.000000,131.000000,135034.000000,4398.000000,9.000000
50%,2.944426e+06,8.000000,400001.000000,233.000000,233.000000,131.000000,395001.500000,4474.000000,12.000000
75%,3.012237e+06,21.000000,500004.000000,233.000000,233.000000,131.000000,560016.000000,4580.000000,15.000000
max,3.101035e+06,27.000000,800001.000000,308.000000,245.000000,228.000000,855107.000000,5146.000000,57.000000

# label encoding

In [239]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [240]:
data['custpincodecategory'] = le.fit_transform(data['custpincodecategory'])
data['mobmake'] = le.fit_transform(data['mobmake'])
data['claimtype'] = le.fit_transform(data['claimtype'])

In [241]:
data.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days
0,2851218,12,7,500004,233,233,131,1,0,500001,2017-04-27,2016-12-02,2018-02-08,4403,2018-02-13,5
1,2838330,8,10,226010,233,233,131,1,0,226022,2017-03-06,2017-03-05,2018-02-04,4444,2018-02-08,12
2,2835781,8,2,110018,233,233,228,1,0,110018,2018-02-01,2018-01-27,2018-02-03,4388,2018-02-12,9
3,2838589,11,2,110018,233,233,228,2,0,124001,2018-01-17,2018-01-31,2018-02-04,4092,2018-02-14,9
4,2855214,12,21,110015,233,233,131,1,0,201301,2018-01-23,2018-01-20,2018-02-09,4580,2018-02-14,8

In [183]:
data.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days
0,2851218,12,7,500004,233,233,131,1,0,500001,2017-04-27,2016-12-02,2018-02-08,4403,2018-02-13,5
1,2838330,8,10,226010,233,233,131,1,0,226022,2017-03-06,2017-03-05,2018-02-04,4444,2018-02-08,12
2,2835781,8,2,110018,233,233,228,1,0,110018,2018-02-01,2018-01-27,2018-02-03,4388,2018-02-12,9
3,2838589,11,2,110018,233,233,228,2,0,124001,2018-01-17,2018-01-31,2018-02-04,4092,2018-02-14,9
4,2855214,12,21,110015,233,233,131,1,0,201301,2018-01-23,2018-01-20,2018-02-09,4580,2018-02-14,8

# Adding new columns

In [246]:
data['sub9']=data.pickuppartnerid-data.deliverypartnerid

In [247]:
data['sub']=abs(data.hubpincode-data.custpincode)

In [248]:
data.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days,sub9,sub
0,2851218,12,7,500004,233,233,131,1,0,500001,2017-04-27,2016-12-02,2018-02-08,4403,2018-02-13,5,0,3
1,2838330,8,10,226010,233,233,131,1,0,226022,2017-03-06,2017-03-05,2018-02-04,4444,2018-02-08,12,0,12
2,2835781,8,2,110018,233,233,228,1,0,110018,2018-02-01,2018-01-27,2018-02-03,4388,2018-02-12,9,0,0
3,2838589,11,2,110018,233,233,228,2,0,124001,2018-01-17,2018-01-31,2018-02-04,4092,2018-02-14,9,0,13983
4,2855214,12,21,110015,233,233,131,1,0,201301,2018-01-23,2018-01-20,2018-02-09,4580,2018-02-14,8,0,91286

In [188]:
#data['sub']=pd.to_numeric(data['sub'])

In [197]:
#data['sub'] = data['sub'].apply(lambda x: x**2)

In [201]:
#data.claimintdate=pd.to_datetime(data.claimintdate)

In [202]:
#data.mobilepurchasedate=pd.to_datetime(data.mobilepurchasedate)

In [203]:
#data['subd']=abs((data.mobilepurchasedate-data.claimintdate))

# taking columns for algorithm

In [266]:
data['mobmake'].astype(int)

0       12
1        8
2        8
3       11
4       12
5       12
6       17
7       17
8       12
9        8
10      12
11      12
12      17
13       7
14       3
15      31
16       8
17      12
18      17
19       8
20       8
21       3
22       3
23      12
24      12
25      17
26      12
27       1
28      11
29       8
30       1
31       8
32      17
33      12
34       8
35      17
36       3
37      36
38      12
39       8
40       8
41       7
42      12
43      12
44       8
45      17
46       8
47      12
48      17
49      12
50      12
51      12
52      17
53      31
54      17
55      12
56      17
57      17
58      12
59       8
60       3
61      12
62       4
63      12
64       8
65       8
66       1
67       8
68      12
69       1
70      17
71      18
72      17
73      33
74      31
75      17
76      12
77      17
78      12
79      12
80      17
81      17
82      12
83      12
84       8
85       8
86       8
87      12
88       8
89      12
90      12
91      17
92      12
93       2
94       8
95      17
96       8
97       8
98      12
99      17
100     17
101     12
102     12
103     12
104     12
105     17
106      8
107     12
108      8
109      8
110     36
111      3
112     12
113     12
114     32
115      4
116     17
117      7
118     12
119     17
120      8
121     12
122     17
123     12
124     12
125     12
126      7
127     12
128      8
129     17
130     17
131      8
132     12
133     12
134      4
135     31
136     12
137     31
138     12
139     12
140      8
141     12
142     12
143     12
144     12
145      3
146      8
147     12
148      8
149     12
150     12
151     12
152     12
153      8
154     12
155     17
156     17
157      5
158     12
159     12
160     17
161     12
162     12
163     12
164     12
165     12
166     12
167     17
168     17
169      8
170     12
171     12
172     36
173      8
174      8
175     17
176      4
177     12
178     17
179     17
180      1
181     12
182     12
183     17
184      8
185     12
186     12
187      8
188      8
189      8
190     17
191     12
192     12
193     20
194     12
195     31
196      3
197     17
198     12
199     12
200     12
201     17
202     12
203      7
204     12
205     12
206      8
207      7
208      3
209      8
210     36
211      8
212     12
213      2
214     12
215      8
216     12
217      8
218      8
219      8
220     17
221     12
222     12
223     17
224      8
225      8
226     12
227      8
228     12
229     12
230      1
231     12
232     12
233     12
234     25
235     12
236     12
237     17
238     17
239     17
240      1
241     12
242     17
243     12
244      7
245     12
246      7
247      7
248     17
249     12
        ..
6000    17
6001    12
6002     8
6003    12
6004     8
6005    18
6006     8
6007    17
6008    12
6009    12
6010     8
6011    17
6012    12
6013    12
6014    17
6015     1
6016     8
6017     8
6018     8
6019     8
6020    12
6021     8
6022     8
6023    17
6024    12
6025    12
6026    31
6027     7
6028     3
6029    12
6030    12
6031    12
6032     4
6033     8
6034    17
6035     1
6036     8
6037    17
6038    12
6039    17
6040    12
6041    11
6042    12
6043    12
6044    17
6045    12
6046    12
6047    12
6048     7
6049    17
6050    18
6051    12
6052     8
6053    12
6054    17
6055    12
6056    12
6057    37
6058     8
6059    37
6060    12
6061     8
6062     3
6063     8
6064    17
6065     8
6066     8
6067    31
6068    12
6069    12
6070    17
6071    12
6072    12
6073    12
6074    17
6075    17
6076    12
6077    12
6078    17
6079    12
6080    12
6081    12
6082    12
6083     8
6084    12
6085    17
6086    12
6087    12
6088    17
6089    17
6090    17
6091    12
6092     1
6093    17
6094    12
6095    12
6096    31
6097    23
6098    12
6099    17
6100    17
6101    17
6102     3
6103    17
6104    12
6105    12
6106     5
6107     8
6108     1
6109    12
6110     8
6111    12
6112    17
6113    17
6114     8
6115    12
6116    12
6117     8
6118     8
6119    12
6120    12
6121     8
6122    17
6123    12
6124    12
6125     8
6126    23
6127    31
6128     8
6129     8
6130    12
6131    36
6132    23
6133    17
6134    17
6135     8
6136    12
6137    12
6138    17
6139     7
6140    11
6141    17
6142     8
6143    17
6144     8
6145     8
6146    12
6147    23
6148    12
6149     8
6150     8
6151     8
6152     8
6153    12
6154     8
6155     2
6156    17
6157     8
6158    12
6159     3
6160    12
6161    20
6162    17
6163     8
6164    17
6165    17
6166    12
6167    12
6168    12
6169    17
6170     8
6171    17
6172    12
6173    31
6174    17
6175    17
6176    12
6177    12
6178    12
6179    25
6180    12
6181    12
6182    17
6183    12
6184    17
6185     2
6186    17
6187    17
6188     4
6189    17
6190     8
6191    12
6192     8
6193     8
6194    12
6195    12
6196     8
6197    23
6198    12
6199     8
6200    12
6201    17
6202    17
6203     8
6204    16
6205    12
6206    12
6207     7
6208     7
6209    17
6210    17
6211    12
6212    17
6213    12
6214     8
6215    12
6216    12
6217    12
6218    12
6219    12
6220    31
6221    12
6222    12
6223     8
6224    18
6225    12
6226    17
6227    17
6228    12
6229    12
6230     8
6231    12
6232    12
6233    11
6234    12
6235    17
6236    21
6237     8
6238    17
6239    12
6240    12
6241    12
6242    17
6243    12
6244     9
6245     8
6246     3
6247    17
6248    25
6249     8
Name: mobmake, Length: 6250, dtype: int32

In [307]:
feat=['mobmake','hubid','insuranceCompanyId','custpincodecategory','claimtype','servicecntrid','sub']

In [308]:
X=data[feat]
y=data['tat_in_days']

In [309]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=1)

In [310]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [311]:
from sklearn.linear_model import LinearRegression
linreg=LinearRegression()
linreg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [312]:
print(linreg.intercept_)
print(linreg.coef_)

12.679965863025389
[ 0.53032892 -0.34584205 -0.18888745  0.80290481  0.43854466 -0.68639757
  1.03820207]

In [313]:
list(zip(feat,linreg.coef_))

[('mobmake', 0.5303289206195545),
 ('hubid', -0.3458420508514075),
 ('insuranceCompanyId', -0.18888744850542402),
 ('custpincodecategory', 0.8029048113600364),
 ('claimtype', 0.438544664146692),
 ('servicecntrid', -0.6863975693893408),
 ('sub', 1.0382020671188865)]

In [314]:
y_pred=linreg.predict(X_test)

In [315]:
np.sqrt(metrics.mean_squared_error(y_pred,y_test))

4.960105061221082

# train the data on complete train file

In [316]:
data.describe()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,servicecntrid,tat_in_days,sub9,sub
count,6.250000e+03,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000,6250.00000
mean,2.946134e+06,12.208480,11.732000,340546.139840,232.654400,231.495360,155.040480,1.432000,0.000640,366009.473440,4457.158080,12.730400,1.159040,35164.19696
std,7.733480e+04,5.926597,9.141463,213449.097822,30.471658,22.521945,41.883918,0.787728,0.025292,210990.167946,200.945634,5.075533,33.193203,77872.46540
min,2.818359e+06,0.000000,0.000000,0.000000,0.000000,0.000000,131.000000,0.000000,0.000000,0.000000,4008.000000,2.000000,-245.000000,0.00000
25%,2.877226e+06,8.000000,3.000000,110018.000000,233.000000,233.000000,131.000000,1.000000,0.000000,135034.000000,4398.000000,9.000000,0.000000,36.00000
50%,2.944426e+06,12.000000,8.000000,400001.000000,233.000000,233.000000,131.000000,1.000000,0.000000,395001.500000,4474.000000,12.000000,0.000000,9993.50000
75%,3.012237e+06,16.750000,21.000000,500004.000000,233.000000,233.000000,131.000000,2.000000,0.000000,560016.000000,4580.000000,15.000000,0.000000,31184.50000
max,3.101035e+06,37.000000,27.000000,800001.000000,308.000000,245.000000,228.000000,4.000000,1.000000,855107.000000,5146.000000,57.000000,308.000000,741009.00000

In [317]:
from sklearn.linear_model import LinearRegression
linreg=LinearRegression()
linreg.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [319]:
test=pd.read_csv("problem_2/problem_2_test.csv")

In [323]:
test.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate
0,2829088,AN,3,560011,233,233,131,A,ADLD,560093,2017-07-30,2017-07-27,2018-02-01,4467,2018-02-06
1,2829866,AJ,2,110018,233,233,228,A,ADLD,110034,2017-07-17,2017-01-25,2018-02-01,4388,2018-02-08
2,2894489,AJ,3,560011,233,233,228,C,ADLD,590014,2018-01-12,2018-01-11,2018-02-21,4460,2018-02-28
3,2876708,AJ,2,110018,233,233,228,B,ADLD,250110,2017-08-07,2017-05-21,2018-02-16,4388,2018-02-26
4,2890283,AN,22,400104,233,233,131,C,ADLD,496001,2017-11-10,2017-09-22,2018-02-20,4581,2018-02-23

In [325]:
#feat=['mobmake','hubid','insuranceCompanyId','custpincodecategory','claimtype','servicecntrid','sub']

In [326]:
test['custpincodecategory'] = le.fit_transform(test['custpincodecategory'])
test['mobmake'] = le.fit_transform(test['mobmake'])
test['claimtype'] = le.fit_transform(test['claimtype'])

In [328]:
test['sub']=abs(data.hubpincode-data.custpincode)

In [329]:
test['mobmake'].astype(int)

0       13
1       10
2       10
3       10
4       13
5       15
6       15
7       30
8       13
9       13
10      21
11      13
12      10
13      19
14       4
15      10
16      13
17      15
18      13
19      15
20      10
21      10
22      13
23      10
24      13
25       6
26      13
27      13
28      15
29      13
30       9
31       6
32      13
33      16
34      13
35      15
36      13
37      15
38      13
39      10
40      13
41      13
42      10
43      10
44       9
45      13
46      10
47      10
48      10
49      13
50      13
51      10
52      28
53       5
54      12
55      32
56      10
57      13
58      10
59      13
60      13
61      10
62      13
63       5
64      13
65      13
66      10
67      13
68      13
69      10
70      13
71      13
72      15
73      13
74      15
75      13
76      10
77      13
78      10
79      13
80      15
81       1
82      32
83      10
84       6
85      13
86      13
87      13
88      10
89      10
90      10
91      15
92      32
93      10
94      13
95      13
96      13
97      10
98      13
99      12
100     13
101      9
102      9
103      9
104      9
105     13
106     15
107     10
108      9
109     10
110     13
111     15
112     10
113      6
114     13
115     15
116     13
117      9
118     13
119     13
120     13
121     13
122     15
123     15
124     13
125     13
126     15
127     13
128     10
129     15
130     10
131     10
132     15
133     13
134     10
135     15
136     13
137     15
138     10
139     13
140     13
141      1
142     13
143     13
144     15
145     13
146      2
147     13
148     13
149     13
150     10
151     18
152     10
153     10
154     17
155     12
156     13
157     15
158     13
159     13
160     13
161     13
162     13
163     13
164     10
165     10
166     10
167     10
168     10
169     10
170     10
171     19
172     13
173     10
174     13
175     12
176     13
177     13
178     13
179      4
180     21
181     15
182     10
183     10
184     13
185     13
186     10
187     10
188     13
189     13
190     15
191     15
192     13
193     13
194     10
195     15
196     13
197     10
198     13
199     13
200     15
201     15
202     13
203     13
204     13
205     21
206     12
207     13
208     13
209     33
210     23
211     13
212     10
213     15
214     15
215     13
216     10
217      5
218     15
219     10
220      9
221     10
222     13
223     13
224     15
225     13
226     15
227      1
228     15
229      2
230     15
231     13
232     13
233     10
234     10
235     13
236     10
237     28
238     13
239     15
240     13
241     15
242     15
243     10
244     13
245     12
246     10
247     28
248     16
249     13
        ..
1866    15
1867    10
1868    13
1869     7
1870    13
1871    13
1872    13
1873    15
1874    10
1875    15
1876    13
1877    10
1878    15
1879     1
1880    10
1881    10
1882    15
1883    13
1884    15
1885     9
1886    10
1887     9
1888    10
1889    13
1890    13
1891    15
1892    21
1893    10
1894    10
1895     9
1896    13
1897    10
1898    13
1899    13
1900    13
1901    10
1902    13
1903    15
1904    15
1905    10
1906    15
1907    10
1908    13
1909    15
1910    13
1911     5
1912    15
1913    10
1914    13
1915    13
1916    13
1917    13
1918    13
1919    22
1920     1
1921    13
1922    15
1923    15
1924    15
1925    13
1926    15
1927    13
1928    13
1929    13
1930    15
1931    13
1932    13
1933    15
1934    10
1935    12
1936    13
1937    10
1938    13
1939    10
1940    13
1941    10
1942    15
1943    13
1944    10
1945    15
1946    15
1947    13
1948    10
1949    15
1950    13
1951    13
1952    13
1953    13
1954    15
1955    15
1956    13
1957    13
1958     9
1959    10
1960     4
1961    15
1962    15
1963    10
1964     4
1965    15
1966    15
1967     5
1968    15
1969    13
1970    13
1971    13
1972    10
1973    13
1974    13
1975     9
1976    13
1977    13
1978    10
1979    13
1980    10
1981    10
1982     4
1983    15
1984     9
1985    13
1986    10
1987    13
1988    15
1989    32
1990     9
1991    15
1992    10
1993    13
1994    13
1995    15
1996    16
1997     5
1998    13
1999    13
2000    13
2001     1
2002    13
2003    15
2004     9
2005    10
2006    13
2007    13
2008    21
2009    10
2010    19
2011    13
2012    13
2013    13
2014    10
2015    13
2016    10
2017     2
2018    13
2019     4
2020     4
2021    10
2022    15
2023    10
2024    13
2025    13
2026    28
2027    13
2028    10
2029    32
2030    13
2031    13
2032    13
2033    15
2034    15
2035    13
2036    10
2037    28
2038    13
2039    10
2040    18
2041    13
2042    15
2043    10
2044    15
2045    13
2046    13
2047    13
2048    13
2049    15
2050    13
2051    32
2052    15
2053    15
2054    13
2055    13
2056    21
2057    15
2058     9
2059    10
2060    15
2061    15
2062    12
2063    13
2064    10
2065     6
2066    15
2067    10
2068    10
2069    13
2070    13
2071    10
2072    10
2073     4
2074    13
2075     6
2076    10
2077    18
2078    15
2079     4
2080    13
2081    10
2082     4
2083    32
2084     9
2085    13
2086    13
2087    13
2088    15
2089    13
2090    10
2091    15
2092    10
2093    13
2094    15
2095    13
2096    21
2097    10
2098    13
2099     9
2100    13
2101    15
2102    13
2103    10
2104    10
2105    28
2106    13
2107    13
2108    15
2109    13
2110    10
2111    10
2112    13
2113    15
2114    13
2115    15
Name: mobmake, Length: 2116, dtype: int32

In [330]:
Xtest=test[feat]

In [331]:
y_pred=linreg.predict(Xtest)

In [332]:
print(y_pred)

[12.32239614 11.85157751 13.55286897 ... 12.02368609 11.20888954
 12.27007209]

In [333]:
test['tat_in_days']=y_pred

In [334]:
test.to_csv('sol2.csv')