In [172]:
import pandas as pd
import numpy as np

In [173]:
from sklearn import metrics

In [174]:
data=pd.read_csv("problem_2/problem_2_train.csv")

In [175]:
pd.set_option('display.max_columns',500)

In [176]:
data.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days
0,2851218,AN,7,500004,233,233,131,A,ADLD,500001,2017-04-27,2016-12-02,2018-02-08,4403,2018-02-13,5
1,2838330,AJ,10,226010,233,233,131,A,ADLD,226022,2017-03-06,2017-03-05,2018-02-04,4444,2018-02-08,12
2,2835781,AJ,2,110018,233,233,228,A,ADLD,110018,2018-02-01,2018-01-27,2018-02-03,4388,2018-02-12,9
3,2838589,AM,2,110018,233,233,228,B,ADLD,124001,2018-01-17,2018-01-31,2018-02-04,4092,2018-02-14,9
4,2855214,AN,21,110015,233,233,131,A,ADLD,201301,2018-01-23,2018-01-20,2018-02-09,4580,2018-02-14,8

In [177]:
data.columns

Index(['srno', 'mobmake', 'hubid', 'hubpincode', 'pickuppartnerid',
       'deliverypartnerid', 'insuranceCompanyId', 'custpincodecategory',
       'claimtype', 'custpincode', 'memcreateddate', 'mobilepurchasedate',
       'claimintdate', 'servicecntrid', 'pickupStartdate', 'tat_in_days'],
      dtype='object')

In [178]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [180]:
data['custpincodecategory'] = le.fit_transform(data['custpincodecategory'])

In [181]:
data['mobmake'] = le.fit_transform(data['mobmake'])

In [182]:
data['claimtype'] = le.fit_transform(data['claimtype'])

In [183]:
data.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days
0,2851218,12,7,500004,233,233,131,1,0,500001,2017-04-27,2016-12-02,2018-02-08,4403,2018-02-13,5
1,2838330,8,10,226010,233,233,131,1,0,226022,2017-03-06,2017-03-05,2018-02-04,4444,2018-02-08,12
2,2835781,8,2,110018,233,233,228,1,0,110018,2018-02-01,2018-01-27,2018-02-03,4388,2018-02-12,9
3,2838589,11,2,110018,233,233,228,2,0,124001,2018-01-17,2018-01-31,2018-02-04,4092,2018-02-14,9
4,2855214,12,21,110015,233,233,131,1,0,201301,2018-01-23,2018-01-20,2018-02-09,4580,2018-02-14,8

In [219]:
data['sub']=abs(data.hubpincode-data.custpincode)

In [220]:
data.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days,sub,subd
0,2851218,12,7,500004,233,233,131,1,0,500001,2017-04-27,2016-12-02,2018-02-08,4403,2018-02-13,5,3,433 days
1,2838330,8,10,226010,233,233,131,1,0,226022,2017-03-06,2017-03-05,2018-02-04,4444,2018-02-08,12,12,336 days
2,2835781,8,2,110018,233,233,228,1,0,110018,2018-02-01,2018-01-27,2018-02-03,4388,2018-02-12,9,0,7 days
3,2838589,11,2,110018,233,233,228,2,0,124001,2018-01-17,2018-01-31,2018-02-04,4092,2018-02-14,9,13983,4 days
4,2855214,12,21,110015,233,233,131,1,0,201301,2018-01-23,2018-01-20,2018-02-09,4580,2018-02-14,8,91286,20 days

In [188]:
data['sub']=pd.to_numeric(data['sub'])

In [197]:
data['sub'] = data['sub'].apply(lambda x: x**2)

In [221]:
data.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days,sub,subd
0,2851218,12,7,500004,233,233,131,1,0,500001,2017-04-27,2016-12-02,2018-02-08,4403,2018-02-13,5,3,433 days
1,2838330,8,10,226010,233,233,131,1,0,226022,2017-03-06,2017-03-05,2018-02-04,4444,2018-02-08,12,12,336 days
2,2835781,8,2,110018,233,233,228,1,0,110018,2018-02-01,2018-01-27,2018-02-03,4388,2018-02-12,9,0,7 days
3,2838589,11,2,110018,233,233,228,2,0,124001,2018-01-17,2018-01-31,2018-02-04,4092,2018-02-14,9,13983,4 days
4,2855214,12,21,110015,233,233,131,1,0,201301,2018-01-23,2018-01-20,2018-02-09,4580,2018-02-14,8,91286,20 days

In [201]:
data.claimintdate=pd.to_datetime(data.claimintdate)

In [202]:
data.mobilepurchasedate=pd.to_datetime(data.mobilepurchasedate)

In [203]:
data['subd']=abs((data.mobilepurchasedate-data.claimintdate))

In [99]:
data['subd'].unique()

array([ 432000000000000,  345600000000000,  777600000000000,
        864000000000000,  604800000000000,  259200000000000,
        518400000000000,  172800000000000,   86400000000000,
       1900800000000000, 1728000000000000,  950400000000000,
       1036800000000000,  691200000000000, 1814400000000000,
                      0, 1123200000000000, 2505600000000000,
       1209600000000000, 1468800000000000, 1382400000000000,
       2160000000000000, 1296000000000000, 1555200000000000,
       2592000000000000, 1987200000000000, 1641600000000000,
       2419200000000000, 2851200000000000, 2073600000000000,
       3628800000000000, 3024000000000000, 2246400000000000,
       3110400000000000, 2678400000000000, 3283200000000000,
       2332800000000000, 2764800000000000, 2937600000000000,
       3196800000000000, 5011200000000000, 3369600000000000,
       4147200000000000, 3542400000000000], dtype='timedelta64[ns]')

In [112]:
data['subd'] = le.fit_transform(data['subd'])

In [222]:
feat=['hubid','insuranceCompanyId','pickuppartnerid','servicecntrid','custpincodecategory','mobmake','claimtype','sub']

In [223]:
X=data[feat]

In [224]:
y=data['tat_in_days']

In [225]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=1)

In [226]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [227]:
from sklearn.linear_model import LinearRegression
linreg=LinearRegression(normalize=False)
linreg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [228]:
print(linreg.intercept_)
print(linreg.coef_)

12.679965863025389
[-0.33483103 -0.16434864 -0.25581216 -0.67414146  0.77927865  0.53943978
  0.42607226  1.02121241]

In [229]:
list(zip(feat,linreg.coef_))

[('hubid', -0.3348310262230013),
 ('insuranceCompanyId', -0.16434864396104887),
 ('pickuppartnerid', -0.25581215780734745),
 ('servicecntrid', -0.6741414643578578),
 ('custpincodecategory', 0.7792786459918308),
 ('mobmake', 0.5394397815869726),
 ('claimtype', 0.42607225887722655),
 ('sub', 1.0212124108481753)]

In [230]:
y_pred=linreg.predict(X_test)

In [231]:
np.sqrt(metrics.mean_squared_error(y_pred,y_test))

4.96055793064761